#!/bin/bash
export EDITOR=vim
export QT_STYLE_OVERRIDE=adwaita-dark
export MOZ_ENABLE_WAYLAND=1
export XDG_CONFIG_HOME=$HOME/.config/
export SCRIPT_DIR=$HOME/.scripts/
export GTK_THEME=Adwaita:dark
export GTK2_RC_FILES=/usr/share/themes/Adwaita-dark/gtk-2.0/gtkrc
gsettings set org.gnome.desktop.interface gtk-theme Adwaita-dark
